<div class="vc-container">
  <div class="form-card">

    <div class="form-header">
      <h2>Registrar Nueva Mascota</h2>
      <p>Ingresa los datos del paciente para comenzar</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <h4 class="section-title">Datos de la Mascota</h4>

      <div class="form-row">
        <div class="form-group">
          <label>Nombre del Paciente</label>
          <input type="text" formControlName="nombre" placeholder="Ej: Firulais">
          <div *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched" class="error-msg">
            Requerido
          </div>
        </div>

        <div class="form-group">
          <label>Especie</label>
          <select formControlName="especie">
            <option value="">-- Seleccionar --</option>
            <option value="Perro">Perro 🐶</option>
            <option value="Gato">Gato 🐱</option>
            <option value="Ave">Ave 🐦</option>
            <option value="Otro">Otro 🐾</option>
          </select>
          <div *ngIf="form.get('especie')?.invalid && form.get('especie')?.touched" class="error-msg">
            Requerido
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label>Raza</label>
          <input type="text" formControlName="raza" placeholder="Ej: Labrador (Opcional)">
        </div>

        <div class="form-group">
          <label>Edad (Años)</label>
          <input type="number" formControlName="edad" placeholder="0">
          <div *ngIf="form.get('edad')?.invalid && form.get('edad')?.touched" class="error-msg">
            Edad inválida
          </div>
        </div>
      </div>

      <h4 class="section-title mt-4">Datos del Propietario</h4>

      <div formGroupName="dueno">
        <div class="form-row">

          <div class="form-group full-width">
            <label>Nombre Completo</label>
            <input type="text" formControlName="nombre" placeholder="Nombre del dueño">
            <div *ngIf="form.get('dueno.nombre')?.invalid && form.get('dueno.nombre')?.touched" class="error-msg">
              El nombre del dueño es requerido
            </div>
          </div>

        </div>

        <div class="form-row">
          <div class="form-group">
            <label>Teléfono</label>
            <input type="text" formControlName="telefono" placeholder="9 dígitos">
            <div *ngIf="form.get('dueno.telefono')?.invalid && form.get('dueno.telefono')?.touched" class="error-msg">
              Debe tener 9 dígitos
            </div>
          </div>

          <div class="form-group"></div>
        </div>
      </div>

      <div class="form-actions">
        <a routerLink="/mascotas" class="btn-cancel">Cancelar</a>
        <button type="submit" class="btn-save" [disabled]="form.invalid">
          Guardar Mascota
        </button>
      </div>

    </form>
  </div>
</div>
